---
layout: landing
permalink: /
title: ""
author_profile: false
lede: 

<p>
  Zhorayev, Olzhas, Narae Lee, and Sita Slavov.
  <em>Children's Health Insurance Coverage and Labor Supply near Retirement: Evidence from the Affordable Care Act's Dependent Care Coverage.</em>
  <br>
  <strong>(Upcoming)</strong> Presentation at Association for Public Policy and Management (APPAM) Fall Research Conference, 11.2026, Boston.
</p>
<p>
  Lee, Narae, Yoomin Lee, Joshua Merfeld, David Sungho Park, Hee Kwon Seo, and Chungeun Yoon. (2026).
  <em>Driving Electric Rides: Experimental Evidence on Vehicle Access Contracts, Labor Productivity, and Driver-Firm Incidence.</em>
  Development Studies Series 26-02, KDI School of Public Policy and Management.
  <br>
  <strong>(Upcoming)</strong> Presentation at American Economic Association (AEA) ASSA Meeting 2027, 01.2027, Washington, D.C.
</p>

  - /research_updates/
  - /research_updates.html
---

{{ page.lede }}